# This docker-compose file easily deploy
# a sawtooth node.
# There are xxx env variables to set:
# ID - Id of the peer
# HOST_ADDR - Host public ip
# SEEDS - Peers to connect
# export ID=2
# export HOST_IP=188.83.81.75
# export HOST_PORT=8800
# export API_PORT=8008
# export SEED=tcp://51.83.75.29:8800
# export SIGNERNODE=signernode-1

version: '3.6'

services:

# -------------=== rest api ===-------------

  rest-api:
    image: ghcr.io/jffp113/sawtooth-rest-api:latest
#    container_name: sawtooth-rest-api-default
    expose:
      - 8008
    ports:
      - ${API_PORT}:8008
    command: |
      bash -c "
        sawtooth-rest-api \
          --connect tcp://validator:4004 \
          --bind rest-api:8008
      "
    stop_signal: SIGKILL

# -------------=== shell ===-------------

  shell:
    image: hyperledger/sawtooth-shell:nightly
#    container_name: sawtooth-shell-default
#    volumes:
#      - pbft-shared:/pbft-shared
    command: |
      bash -c "
        sawtooth keygen
        tail -f /dev/null
      "
    depends_on:
      - "validator"
    stop_signal: SIGKILL

# -------------=== validators ===-------------

  validator:
     #image: hyperledger/sawtooth-rest-api:nightly
    image: ghcr.io/jffp113/sawtooth-validator:latest
#    container_name: sawtooth-validator-default-0
    expose:
      - 4004
      - 5050
      - ${HOST_PORT}
    ports:
      - ${HOST_PORT}:${HOST_PORT}
    environment:
      - SIGNERNODE=${SIGNERNODE}
#    volumes:
#      - pbft-shared:/pbft-shared
    command: |
      bash -c "
        cp /all/validator-${ID}.pub /etc/sawtooth/keys/validator.pub &&
        cp /all/validator-${ID}.priv /etc/sawtooth/keys/validator.priv &&
        sawtooth keygen my_key &&
        sawtooth-validator -vv \
          --endpoint tcp://${HOST_IP}:${HOST_PORT} \
          --bind component:tcp://eth0:4004 \
          --bind consensus:tcp://eth0:5050 \
          --bind network:tcp://eth0:${HOST_PORT} \
          --scheduler parallel \
          --peering static \
          --maximum-peer-connectivity 10000 \
          --seeds $SEED \
      "
# -------------=== pbft engines ===-------------
  pbft:
    image: hyperledger/sawtooth-pbft-engine:nightly
#    container_name: sawtooth-pbft-engine-default-0
    command: pbft-engine -vv --connect tcp://validator:5050
    stop_signal: SIGKILL

# -------------=== intkey smart contract ===-------------
  intkey-tp:
    image: hyperledger/sawtooth-intkey-tp-python:nightly
#    container_name: sawtooth-intkey-tp-python-default-0
    expose:
      - 4004
    command: intkey-tp-python -C tcp://validator:4004
    stop_signal: SIGKILL